<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
     <ion-back-button defaultHref="payments"></ion-back-button>
    </ion-buttons>
    <ion-title>Cash Receipt Card -  {{ card?.Receipt_No}} </ion-title>
    <ion-buttons slot="end" *ngIf="card?.Posted">
      <ion-button slot="icon-only" fill="clear" (click)="presentPopover($event)">
        <ion-icon  name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>      
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="card?.Receipt_No">

  <ion-grid>
    <ion-row>
      <ion-col >
         <ion-card>
           <ion-card-header>
             <ion-card-title>
               General Card Details
             </ion-card-title>
           </ion-card-header>

           <ion-card-content>

            <ion-fab *ngIf="!card.Posted" vertical="bottom" horizontal="end" slot="fixed">
              <ion-fab-button color="warning" (click)="post(card.Receipt_No)">
                <ion-icon name="send"></ion-icon>
              </ion-fab-button>
            </ion-fab>

             <ion-row>
               <ion-col >
                 <ion-item>
                   <ion-label position="floating">Receipt No.</ion-label>
                   <ion-input [(ngModel)]="card.Receipt_No"></ion-input>
                 </ion-item>
               </ion-col>

               <ion-col >
                 <ion-item>
                   <ion-label position="floating">Bank Account</ion-label>
                   <ion-select [(ngModel)]="card.Receiving_Bank_Account_No" [selectedText]="card.Bank_Account_Name" aria-placeholder="Receiving Bank A/C">
                     <ion-select-option *ngFor="let bank of banks" [value]="bank.No">{{bank.Name}}</ion-select-option>
                   </ion-select>
                 </ion-item>
               </ion-col>
             </ion-row>

             


             <ion-row>
               <ion-col >
                 <ion-item>
                   <ion-label position="floating">Posting Date: </ion-label>
                   <ion-input [(ngModel)]="card.Posting_Date"></ion-input>
                 </ion-item>
               </ion-col>

               <ion-col >
                 <ion-item>
                   <ion-label position="floating">Created On:</ion-label>
                   <ion-input [(ngModel)]="card.Created_On"></ion-input>
                 </ion-item>
               </ion-col>
             </ion-row>

            

           </ion-card-content>

         </ion-card>


          <!--Start Lines Card-->
          <ion-card>
            <ion-card-header>
              <ion-card-title>Lines</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                

                <ion-row scrollX="true">
                  <ion-col>
                    <ion-label>Customer Name</ion-label>
                  </ion-col>

                  <ion-col>
                    <ion-label>Invoice No.</ion-label>
                  </ion-col>

                  <ion-col>
                    <ion-label>Amount</ion-label>
                  </ion-col>

                  <ion-col>
                    <ion-label>Amount To Receipt</ion-label>
                  </ion-col>

                  <ion-col *ngIf="card.Posted">
                    <ion-label>Remaining Amount </ion-label>
                  </ion-col>

                  <ion-col *ngIf="!card.Posted">
                    <ion-label>Select Invoice </ion-label>
                  </ion-col>

                </ion-row>
              
                 
               
                <ion-list *ngFor="let line of card?.Cash_Receipt_Line?.Cash_Receipt_Line">
                    <ion-row >
                        
                      <ion-col> 
                        <ion-item>                         
                            <ion-label>{{line.Customer_Name}}</ion-label>
                        </ion-item>
                      </ion-col>
  
                      <ion-col> 
                        <ion-item>                         
                            <ion-label>{{line.Invoice_No}}</ion-label>
                        </ion-item>
                      </ion-col>
  
                      <ion-col> 
                        <ion-item>                         
                            <ion-label>{{line.Amount | currency: 'Ksh. '}}</ion-label>
                        </ion-item>
                      </ion-col>

                      <ion-col> 
                        <ion-item>                         
                            <ion-input type="number" [value]="line.Amount_To_Receipt" (ionBlur)="setAmountToReceipt(line.Customer_No, line.Line_No, card.Receipt_No, $event)"></ion-input>
                        </ion-item>
                      </ion-col>
  
                      <ion-col *ngIf="card.Posted"> 
                        <ion-item>                         
                            <ion-label>{{line.Remaining_Amount | currency: 'Ksh. '}}</ion-label>
                        </ion-item>
                      </ion-col>

                      <ion-col *ngIf="!card.Posted"> 
                        <ion-item>                         
                            <ion-checkbox slot="end" [checked]="line.Select" color="primary" (ionChange)="selectInvoice(line.Customer_No, line.Line_No, card.Receipt_No)"></ion-checkbox>
                        </ion-item>
                      </ion-col>
  
                     
  
                    </ion-row>   
                </ion-list>
                 
                
              </ion-grid>
            </ion-card-content>
          </ion-card>
          <!--End Lines Card-->

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
