<ion-header>
  <ion-toolbar color="warning">

    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>

    <ion-title>Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner  name="crescent"></ion-spinner>
  </div>

  <ion-searchbar [(ngModel)]="searchTerm" debounce="2000" (ionChange)="searchItem($event)"></ion-searchbar>

  <ion-grid fixed>
    <ion-row>
      <ion-col >Description</ion-col>
      <ion-col >Inventory</ion-col>
      <ion-col > Replenishment Sys.</ion-col>
      <ion-col >Costing Method</ion-col>
    </ion-row>
  </ion-grid>
  
  
  
    <ion-virtual-scroll [items]="Items" approxItemHeight="47.2px">
               
              <ion-item 
                [routerLink] = "['/','items',item.No]"
               detail
               *virtualItem="let item" > 
  
               <ion-grid fixed>
                  <ion-row>
  
                    <ion-col>
                      <ion-label>
                        <h3>{{ item.Description }}</h3>
                      </ion-label>
                    </ion-col>
  
                    <ion-col>
                      <ion-label>
                        <h3>{{ item.Inventory }}</h3>
                      </ion-label>
                    </ion-col>
  
                    <ion-col>
                      <ion-label>
                        <h3>{{ item.Replenishment_System }}</h3>
                      </ion-label>
                    </ion-col>
  
                    <ion-col>
                      <ion-label>
                        <h3>{{ item.Costing_Method}}</h3>
                      </ion-label>
                    </ion-col>
  
                  </ion-row>
                </ion-grid>
                      
          </ion-item>
        
    </ion-virtual-scroll>
  

</ion-content>
