<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Farmers</ion-title>

    <ion-buttons slot="end">      
      <ion-button slot="icon-only" fill="clear" (click)="presentPopover($event)">
        <ion-icon  name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>      
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="3">Name</ion-col>
      <ion-col size="3">Phone</ion-col>
      <ion-col size="3">Acreage</ion-col>
      <ion-col size="3">Tea Type</ion-col>
    </ion-row>
  </ion-grid>

  <ion-virtual-scroll [items]="farmers" approxItemHeight="47.2px">
    <ion-item [routerLink]="['/','farmer',f.No]" detail *virtualItem="let f">
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-label>
              <h3>{{ f?.Name }}</h3>
            </ion-label>
          </ion-col>

          <ion-col size="3">
            <ion-label>
              <h3>{{ f?.Phone_No}}</h3>
            </ion-label>
          </ion-col>

          <ion-col size="3">
            <ion-label>
              <h3>{{ f?.Total_acreage }}</h3>
            </ion-label>
          </ion-col>

          <ion-col size="3">
            <ion-label>
              <h3>{{ f?.Type_Of_Tea_Planted}}</h3>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>
