<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="payments"></ion-back-button>
     </ion-buttons>
    <ion-title> New Cash Receipt Card -  {{ card?.POS_Receipt_No}} </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  
  <ion-row>
    <ion-col >
      <ion-item>
        <ion-label position="floating">Receipt No.</ion-label>
        <ion-input [(ngModel)]="card.POS_Receipt_No" readonly></ion-input>
      </ion-item>
    </ion-col>

    <ion-col >
      
        <ion-item>
          <ion-label position="floating">Balance Amount</ion-label>
          <ion-input [(ngModel)]="card.Balance_Amount" readonly></ion-input>
          </ion-item>
      
    </ion-col>
  </ion-row>

  <ion-row>

    <ion-col >
      <ion-item>
        <ion-label position="floating">Customer.</ion-label>                
        <ion-select [(ngModel)]="card.Customer_No" (ionChange)="updateReceipt(card)" name="Customer_No"
          [selectedText]="card.Customer_Name"
          placeholder="Select ...">
          <ion-select-option *ngFor="let cust of customers" [value]="cust.No">{{cust.Name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>
        <ion-label position="floating">Type of Sale</ion-label>
        <ion-select [(ngModel)]="card.Type_Of_Sale" (ionChange)="updateReceipt(card)" name="Type_Of_Sale"
          [selectedText]="card.Type_Of_Sale" placeholder="Select ...">
          <ion-select-option *ngFor="let st of saleType" [value]="st.Code">{{st.Code}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>

    
  </ion-row>


  <ion-row>
    <ion-col >
      <ion-item>
        <ion-label position="floating">Receipt Date: </ion-label>
        <ion-datetime type="date" name="Receipt_Date" [(ngModel)]="card.Receipt_Date" (ionChange)="updateReceipt(card)" readonly></ion-datetime>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>
        <ion-label position="floating">Reference No</ion-label>
        <ion-input [(ngModel)]="card.Reference_No" (ionBlur)="updateReceipt(card)"></ion-input>
      </ion-item>
    </ion-col>

    
  </ion-row>

  
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-button type="button" outline color="primary" (click)="toView()">Add Receipt Lines</ion-button>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>


</ion-content>
