<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="payments"></ion-back-button>
     </ion-buttons>
    <ion-title> New Cash Receipt Card -  {{ card?.POS_Receipt_No}} </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  
  <ion-row>
    <ion-col >
      <ion-item>
        <ion-label position="floating">Receipt No.</ion-label>
        <ion-input [(ngModel)]="card.POS_Receipt_No" readonly></ion-input>
      </ion-item>
    </ion-col>

    <ion-col >
      <ion-item>
        <ion-label position="floating">Bank Account</ion-label>
        <ion-select [(ngModel)]="card.Bank_Account_No" [selectedText]="card.Bank_Account_Name" (ionChange)="updateReceipt(card)" placeholder="Receiving Bank A/C">
          <ion-select-option *ngFor="let bank of banks" [value]="bank.No">{{bank.Name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>

    <ion-col >
      <ion-item>
        <ion-label position="floating">Customer.</ion-label>                
        <ion-select [(ngModel)]="card.Customer_No" name="Customer_No" [selectedText]="card.Customer_Name"
          placeholder="Select ...">
          <ion-select-option *ngFor="let cust of customers" [value]="cust.No">{{cust.Name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>

  </ion-row>


  <ion-row>
    <ion-col >
      <ion-item>
        <ion-label position="floating">Receipt Date: </ion-label>
        <ion-datetime type="date" name="Receipt_Date" [(ngModel)]="card.Receipt_Date" (ionChange)="updateReceipt(card)" readonly></ion-datetime>
      </ion-item>
    </ion-col>

    
  </ion-row>

  



</ion-content>
