<ion-list>
  <ion-item lines="none">
    <ion-icon slot="start" name="print"></ion-icon>
    <ion-label (click)="showBluetoothDevices()">Print Invoice</ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-icon slot="start" name="copy"></ion-icon>
    <ion-label (click)="showDaily()">Daily Sales Report</ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-icon slot="start" name="copy"></ion-icon>
    <ion-label (click)="showMonthly()">Monthly Sales Report</ion-label>
  </ion-item>
  
</ion-list>