<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sales Invoices</ion-title>
    <ion-buttons slot="end">      
      <ion-button slot="icon-only" fill="clear" (click)="presentPopover($event)">
        <ion-icon  name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner  name="crescent"></ion-spinner>
  </div>

<ion-searchbar [(ngModel)]="searchTerm" debounce="2000" (ionChange)="searchInvoice($event)"></ion-searchbar>
<ion-grid fixed>
  <ion-row>
    <ion-col col-12 col-sm>Order No.</ion-col>
    <ion-col col-12 col-sm>Customer </ion-col>
    <ion-col col-12 col-sm>Ship To</ion-col>
    <ion-col col-12 col-sm>Amount</ion-col>
    <ion-col col-12 col-sm>Status</ion-col>
  </ion-row>
</ion-grid>

<ion-virtual-scroll [items]="orders" approxItemHeight="47.2px">
               
  <ion-item 
    [routerLink] = "['/','orders',order.No]"
   detail
   *virtualItem="let order" > 

   <ion-grid >
      <ion-row>

        <ion-col col-12 col-sm>
          <ion-label>
            <h3>{{ order?.No }}</h3>
          </ion-label>
        </ion-col>

        <ion-col col-12 col-sm>
          <ion-label>
            <h3>{{ order?.Sell_to_Customer_Name }}</h3>
          </ion-label>
        </ion-col>

        <ion-col col-12 col-sm>
          <ion-label>
            <h3>{{ order.Ship_to_Name }}</h3>
          </ion-label>
        </ion-col>

        <ion-col col-12 col-sm>
          <ion-label>
            <h3>{{ order.Prices_Including_VAT}}</h3>
          </ion-label>
        </ion-col>

        <ion-col col-12 col-sm >
          <ion-label>
            <h3>{{ order.Status}}</h3>
          </ion-label>
        </ion-col>

      </ion-row>
    </ion-grid>
          
</ion-item>

</ion-virtual-scroll>



  

 

 
</ion-content>
