<ion-header>
  <ion-toolbar>
    <ion-title>Stock Issue Line</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
      <ion-list>

      

        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input [(ngModel)]="line.Description" type="text" readonly></ion-input>
        </ion-item>

        <ion-item>
          <ion-label  position="floating">Qty. Requested</ion-label>
          <ion-input [(ngModel)]="line.Requested_Pieces" type="number" readonly></ion-input>
        </ion-item>

        <ion-item>
          <ion-label  position="floating">Qty. Issues</ion-label>
          <ion-input [(ngModel)]="line.Issued_Pieces" type="number" readonly></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Pieces Received</ion-label>
          <ion-input [(ngModel)]="line.Pieces_Received" type="number"></ion-input>
        </ion-item>
      

        


      </ion-list>



      <ion-button  color="primary" (click)="updateLine()" expand="block" fill="outline" >
        Update Line
      </ion-button>

    </ion-col>
  </ion-row>

</ion-content>
