<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/farmer"></ion-back-button>
    </ion-buttons>
    <ion-title>Farmer Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label class="ion-text-wrap"> Name </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item lines="none">
        <ion-text>
          <h4>{{ card?.Name }}</h4>
        </ion-text>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label class="ion-text-wrap"> Phone Number </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item lines="none">
        <ion-text>
          <h4>{{ card?.Phone_No }}</h4>
        </ion-text>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label class="ion-text-wrap"> Total Acreage </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item lines="none">
        <ion-text>
          <h4>{{ card?.Total_acreage?card?.Total_acreage: 'Not Set' }}</h4>
        </ion-text>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label class="ion-text-wrap"> National ID No. </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item lines="none">
        <ion-text>
          <h4>{{ card?.National_ID_No}}</h4>
        </ion-text>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label class="ion-text-wrap"> Buying Center. </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item lines="none">
        <ion-text>
          <h4>{{ card?.Buying_Centre_Name}}</h4>
        </ion-text>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label class="ion-text-wrap"> Route Name. </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item lines="none">
        <ion-text>
          <h4>{{ card?.Route_Name}}</h4>
        </ion-text>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label class="ion-text-wrap"> PIN No. </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item lines="none">
        <ion-text>
          <h4>{{ card?.PIN_No}}</h4>
        </ion-text>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label class="ion-text-wrap"> Land Registration </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item lines="none">
        <ion-text>
          <h4>{{ card?.Land_Rgistration}}</h4>
        </ion-text>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
