<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="postedsales"></ion-back-button>
    </ion-buttons>
    <ion-title>Posted Sales Invoice - {{ card.No}}</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" fill="clear" (click)="presentPopover($event)">
        <ion-icon  name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col >
         <ion-card>
           <ion-card-header>
             <ion-card-title>
               General Card Details
             </ion-card-title>
           </ion-card-header>

           <ion-card-content>

             <ion-row>
               <ion-col >
                 <ion-item>
                   <ion-label position="floating">Customer.</ion-label>
                   <ion-input [(ngModel)]="card.Sell_to_Customer_Name"></ion-input>
                 </ion-item>
               </ion-col>

               <ion-col >
                 <ion-item>
                   <ion-label position="floating">Due Date</ion-label>
                   <ion-input [value]="card.Due_Date | date"></ion-input>
                 </ion-item>
               </ion-col>
             </ion-row>

             


             <ion-row>
               <ion-col >
                 <ion-item>
                   <ion-label position="floating">Posting Date: </ion-label>
                   <ion-input [value]="card.Posting_Date | date"></ion-input>
                 </ion-item>
               </ion-col>

               <ion-col >
                 <ion-item>
                   <ion-label position="floating">Closed:</ion-label>
                   <ion-input [value]="card.Closed?'Yes':'No'"></ion-input>
                 </ion-item>
               </ion-col>
             </ion-row>

            

           </ion-card-content>

         </ion-card>


          <!--Start Lines Card-->
          <ion-card>
            <ion-card-header>
              <ion-card-title>Lines</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                

                <ion-row scrollX="true">
                  <ion-col>
                    <ion-label>Description</ion-label>
                  </ion-col>

                  <ion-col>
                    <ion-label>Quantity</ion-label>
                  </ion-col>

                  <ion-col>
                    <ion-label>Unit </ion-label>
                  </ion-col>

                  <ion-col>
                    <ion-label>Unit Price</ion-label>
                  </ion-col>

                  <ion-col>
                    <ion-label>Line Amt. Incl. VAT </ion-label>
                  </ion-col>

                  <ion-col>
                    <ion-label>Discount %</ion-label>
                  </ion-col>

                </ion-row>
              
                 
               
                <ion-list *ngFor="let line of card?.SalesInvLines?.Posted_Sales_Invoice_Line">
                    <ion-row >
                        
                      <ion-col> 
                        <ion-item>                         
                            <ion-label>{{line.Description}}</ion-label>
                        </ion-item>
                      </ion-col>
  
                      <ion-col> 
                        <ion-item>                         
                            <ion-label>{{line.Quantity}}</ion-label>
                        </ion-item>
                      </ion-col>
  
                      <ion-col> 
                        <ion-item>                         
                            <ion-label>{{line.Unit_of_Measure_Code}}</ion-label>
                        </ion-item>
                      </ion-col>

                      <ion-col> 
                        <ion-item>                         
                          <ion-label>{{line.Unit_Price}}</ion-label>
                        </ion-item>
                      </ion-col>
  
                      <ion-col > 
                        <ion-item>                         
                            <ion-label>{{ line.Line_Amount }}</ion-label>
                        </ion-item>
                      </ion-col>

                      <ion-col > 
                        <ion-item>                         
                          <ion-label>{{ line.Line_Discount_Percent}}</ion-label>
                        </ion-item>
                      </ion-col>

                      
  
                     
  
                    </ion-row>   
                </ion-list>
                 
                
              </ion-grid>
            </ion-card-content>
          </ion-card>
          <!--End Lines Card-->

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
