<ion-header>
  <ion-toolbar>
    <ion-title>
    Capture Farmer Photo
    </ion-title>

    <ion-buttons slot="end">
      <ion-button slot="icon-only" fill="clear" (click)="closeModal()">
        <ion-icon  name="close-circle-outline"></ion-icon>
      </ion-button>      
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="cameraPreview" id="cameraPreview">
        <div *ngIf="cameraActive">

          <img src="../../assets/techno.png" class="image-overlay">

        </div>
       
  </div>

  <div class="buttons" >
    <ion-button (click)="stopCamera()" expand="block" id="close">
      <ion-icon name="close-circle" slot="icon-only"></ion-icon>
    </ion-button>

  <ion-button (click)="captureImage()" expand="block" id="capture">
      <ion-icon name="camera" slot="icon-only"></ion-icon>
  </ion-button>

  <ion-button (click)="flipCamera()" expand="block" id="flip">
    <ion-icon name="camera-reverse" slot="icon-only"></ion-icon>
  </ion-button>
</div>
  
<ion-img [src]="image" *ngIf="image && !cameraActive"></ion-img>
<ion-button (click)="openCamera()" expand="full" *ngIf="!cameraActive">Open Camera</ion-button>
  
</ion-content>
