<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ card?.No }} Requisition Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" pullMin="100" pullMax="200">
    <ion-refresher-content
    pullingIcon="arrow-down-outline"
    pullingText="Pull to Refresh"
    refreshingSpinner="crescent"
    refreshingText="Refreshing..."
    >
  </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
     <ion-row>
       <ion-col >
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                General Card Details
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>

              <ion-row>
                <ion-col >
                  <ion-item>
                    <ion-label position="fixed">No.</ion-label>
                    <ion-text>{{ card?.No }}</ion-text>
                  </ion-item>
                </ion-col>

                <ion-col >
                  <ion-item>
                    <ion-label position="fixed">Voucher No.</ion-label>
                    <ion-text>{{ card?.voucher_No }}</ion-text>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col >
                  <ion-item>
                    <ion-label position="fixed">Request From.</ion-label>
                    <ion-text>{{ card?.Transfer_from_Code }}</ion-text>
                  </ion-item>
                </ion-col>

                <ion-col >
                  <ion-item>
                    <ion-label position="fixed">Dimension 1 Code.</ion-label>
                    <ion-text>{{ card?.Shortcut_Dimension_1_Code }}</ion-text>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col >
                  <ion-item>
                    <ion-label position="fixed">Receiving Location.</ion-label>
                    <ion-text>{{ card?.Transfer_to_Code }}</ion-text>
                  </ion-item>
                </ion-col>

                <ion-col >
                  <ion-item>
                    <ion-label position="fixed">Dimension 2 Code.</ion-label>
                    <ion-text>{{ card?.Shortcut_Dimension_2_Code }}</ion-text>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col >
                  <ion-item>
                    <ion-label position="fixed">In-Transit Code: </ion-label>
                    <ion-text>{{ card?.In_Transit_Code }}</ion-text>
                  </ion-item>
                </ion-col>

                <ion-col >
                  <ion-item>
                    <ion-label position="fixed">Requested By:</ion-label>
                    <ion-text>{{ card?.Assigned_User_ID }}</ion-text>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col >
                  <ion-item>
                    <ion-label position="fixed">Posting Date: </ion-label>
                    <ion-text>{{ card?.Posting_Date }}</ion-text>
                  </ion-item>
                </ion-col>

                <ion-col >
                  <ion-item>
                    <ion-label position="fixed">Status:</ion-label>
                    <ion-text>{{ card?.Status }}</ion-text>
                  </ion-item>
                </ion-col>
              </ion-row>

            </ion-card-content>

          </ion-card> 

          <!--Start Lines Card-->
          <ion-card>
            <ion-card-header>
              <ion-card-title>Lines</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row *ngIf="card?.Status === 'Open' ">
                  <ion-col>
                    <ion-list>
                      <ion-item>
                        <ion-button type="button" outline color="primary" (click)="onAddLine()" >New</ion-button>
                      </ion-item>
                    </ion-list>
                    
                  </ion-col>
                </ion-row>

                <ion-row scrollX="true">
                  <ion-col>
                    <ion-label>Description</ion-label>
                  </ion-col>

                  

                  

                  <ion-col>
                    <ion-label>Unit Pieces</ion-label>
                  </ion-col>

                  

                  <ion-col>
                    <ion-label>Qty to Receive</ion-label>
                  </ion-col>

                  <ion-col>
                    <ion-label>Shipment Date</ion-label>
                  </ion-col>

                </ion-row>
              
                 
               
                <ion-list *ngFor="let item of card?.TransferLines?.Transfer_Order_Line">
                    <ion-row >
                      <ion-col> 
                        <ion-item (click)="onUpdateLine(item?.Line_No)" color="primary">                         
                            <ion-label>{{item.Description}}</ion-label>
                        </ion-item>
                      </ion-col>
  
                     
  
                      
  
                      <ion-col> 
                        <ion-item>                         
                            <ion-label>{{item.Pieces}}</ion-label>
                        </ion-item>
                      </ion-col>
  
                      
  
                      <ion-col> 
                        <ion-item>                         
                            <ion-label>{{item.Qty_to_Receive}}</ion-label>
                        </ion-item>
                      </ion-col>
  
                      <ion-col> 
                        <ion-item>                         
                            <ion-label>{{item.Shipment_Date}}</ion-label>
                        </ion-item>
                      </ion-col>
  
                    </ion-row>   
                </ion-list>
                 
                
              </ion-grid>
            </ion-card-content>
          </ion-card>
          <!--End Lines Card-->
       </ion-col>
     </ion-row>
  </ion-grid>

</ion-content>
