<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="requisitions"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ card?.Req_No }} Requisition Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" (click)="post(card.Req_No)">
      <ion-icon name="send"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" pullMin="100" pullMax="200">
      <ion-refresher-content
        pullingIcon="arrow-down-outline"
        pullingText="Pull to Refresh"
        refreshingSpinner="crescent"
        refreshingText="Refreshing..."
        >
      </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
     <ion-row>
       <ion-col >
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                General Card Details
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>

              <ion-row>
                <ion-col >
                  <ion-item>
                    <ion-label position="fixed">Req. No</ion-label>
                    <ion-text>{{ card?.Req_No }}</ion-text>
                  </ion-item>
                </ion-col>

                <ion-col >
                  <ion-item>
                    <ion-label position="fixed">Store Code.</ion-label>
                    <ion-text>{{ card?.Store_Code }}</ion-text>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col >
                  <ion-item>
                    <ion-label position="fixed">Requisition Date</ion-label>
                    <ion-text>{{ card?.Requisition_Date }}</ion-text>
                  </ion-item>
                </ion-col>

                <ion-col >
                  <ion-item>
                    <ion-label position="fixed">Store Name</ion-label>
                    <ion-text>{{ card?.Store_Name }}</ion-text>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col >
                  <ion-item>
                    <ion-label position="fixed">Requested On</ion-label>
                    <ion-text>{{ card?.Requested_On }}</ion-text>
                  </ion-item>
                </ion-col>

                <ion-col >
                  <ion-item>
                    <ion-label position="fixed">Approval Status</ion-label>
                    <ion-text>{{ card?.Approval_Status }}</ion-text>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col >
                  <ion-item>
                    <ion-label position="fixed">Requested By</ion-label>
                    <ion-text>{{ card?.Requested_By }}</ion-text>
                  </ion-item>
                </ion-col>

                
              </ion-row>

              

             
            </ion-card-content>

          </ion-card> 

          <!--Start Lines Card-->
          <ion-card>
            <ion-card-header>
              <ion-card-title>Lines</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row *ngIf="card?.Approval_Status === 'New' ">
                  <ion-col>
                    <ion-list>
                      <ion-item>
                        <ion-button type="button" outline color="primary" (click)="onAddLine(card?.Req_No)">New</ion-button>
                      </ion-item>
                    </ion-list>
                    
                  </ion-col>
                </ion-row>

                <ion-row scrollX="true">
                  <ion-col>
                    <ion-label>Description</ion-label>
                  </ion-col>

                  
                  <ion-col>
                    <ion-label>Unit Pieces</ion-label>
                  </ion-col>

                  
                  <ion-col>
                    <ion-label>U.O.M</ion-label>
                  </ion-col>

                 

                </ion-row>
              
                 
               
                <ion-list *ngFor="let item of card ?.Point_Of_Sale_Request_Lines ?.Point_Of_Sale_Request_Lines">
                    <ion-row >
                      <ion-col> 
                        <ion-item (click)="onUpdateLine(item?.Key)" color="primary">
                            <ion-label>{{item.Description}}</ion-label>
                        </ion-item>
                      </ion-col>
  
                     
  
                      
  
                      <ion-col> 
                        <ion-item>                         
                            <ion-label>{{item.Quantity_To_Request}}</ion-label>
                        </ion-item>
                      </ion-col>
  
                      
  
                      <ion-col> 
                        <ion-item>                         
                            <ion-label>{{item.U_O_M}}</ion-label>
                        </ion-item>
                      </ion-col>
  
                      
  
                    </ion-row>   
                </ion-list>
                 
                
              </ion-grid>
            </ion-card-content>
          </ion-card>
          <!--End Lines Card-->
       </ion-col>
     </ion-row>
  </ion-grid>

</ion-content>
