<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>New Requisition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #Req="ngForm" (ngSubmit)="onRequisitionupdate(Req)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-card>
              <ion-card-header>
                <ion-card-title>
                  Requisition Form
                </ion-card-title>
              </ion-card-header>

              <ion-card-content>

                <ion-row>
                  <ion-col >
                    <ion-item>
                      <ion-label position="floating">No.</ion-label>
                      <ion-input type="text" [(ngModel)]="requisition.No" name="No"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col >
                    <ion-item>
                      <ion-label position="floating">Voucher No.</ion-label>
                      <ion-input type="text" [(ngModel)]="requisition.voucher_No" name="voucher_No"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col >
                    <ion-item>
                      <ion-label position="floating">Request From.</ion-label>
                
                      <ion-select [(ngModel)]="requisition.Transfer_from_Code" name="Transfer_from_Code" placeholder="Select ...">
                        <ion-select-option *ngFor="let loc of locations" [value]="loc.Code">{{loc.Name}}</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>

                  <ion-col >
                    <ion-item>
                      <ion-label position="floating">Dimension 1 Code.</ion-label>
                                         
                      <ion-select [(ngModel)]="requisition.Shortcut_Dimension_1_Code" name="Shortcut_Dimension_1_Code" placeholder="Select ...">
                        <ion-select-option *ngFor="let dim of departments" [value]="dim.Code">{{dim.Name}}</ion-select-option>
                      </ion-select>
                    
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col >
                    <ion-item>
                      <ion-label position="floating">Receiving Location.</ion-label>
                      <ion-select [(ngModel)]="requisition.Transfer_to_Code" name="Transfer_to_Code" placeholder="Select ...">
                        <ion-select-option *ngFor="let loc of locations" [value]="loc.Code">{{loc.Name}}</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>

                  <ion-col >
                    <ion-item>
                      <ion-label position="floating">Dimension 2 Code.</ion-label>
                      <ion-select [(ngModel)]="requisition.Shortcut_Dimension_2_Code" name="Shortcut_Dimension_2_Code" placeholder="Select ...">
                        <ion-select-option *ngFor="let loc of projects" [value]="loc.Code">{{loc.Name}}</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col >
                    <ion-item>
                      <ion-label position="floating">In-Transit Code: </ion-label>
                      <ion-input type="text" [(ngModel)]="requisition.In_Transit_Code" name="In_Transit_Code"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col >
                    <ion-item>
                      <ion-label position="floating">Requested By:</ion-label>
                      <ion-input type="text" [(ngModel)]="requisition.Assigned_User_ID" name="Assigned_User_ID"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col >
                    <ion-item>
                      <ion-label position="floating">Posting Date: </ion-label>
                      <ion-datetime type="date" [(ngModel)]="requisition.Posting_Date" name="Posting_Date"></ion-datetime>
                    </ion-item>
                  </ion-col>

                  <ion-col >
                    <ion-item>
                      <ion-label position="floating">Status:</ion-label>
                      <ion-input type="text" [(ngModel)]="requisition.Status" name="Status"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-label position="floating">Key</ion-label>
                    <ion-input type="text" [(ngModel)]="requisition.Key" name="Key"></ion-input>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size-sm="6" offset-sm="3">
                    <ion-button type="submit" color="primary" expand="block">Save Details</ion-button>
                  </ion-col>
                </ion-row>

              </ion-card-content>

            </ion-card> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
