<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>New Requisition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #Req="ngForm" (ngSubmit)="onRequisitionupdate(Req)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-card>
              <ion-card-header>
                <ion-card-title>
                  Stock Requisition Form
                </ion-card-title>
              </ion-card-header>

              <ion-card-content>

                <ion-row>
                  <ion-col >
                    <ion-item>
                      <ion-label position="floating">Req No.</ion-label>
                      <ion-input type="text" [(ngModel)]="requisition.Req_No" name="Req_No"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                
                <ion-row>
                  <ion-col >
                    <ion-item>
                      <ion-label position="floating">Store Code.</ion-label>
                      
                      <ion-select [(ngModel)]="requisition.Store_Code" name="Transfer_from_Code" placeholder="Select ...">
                        <ion-select-option *ngFor="let loc of locations" [value]="loc.Code">{{loc.Name}}</ion-select-option>
                      </ion-select>

                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col >
                    <ion-item>
                      <ion-label position="floating">Requisition Date</ion-label>
                      <ion-input type="text" [(ngModel)]="requisition.Requisition_Date" name="Requisition_Date"></ion-input>
                      
                    </ion-item>
                  </ion-col>

                  <ion-col >
                    <ion-item>
                      <ion-label position="floating">Store Name</ion-label>
                      <ion-input type="text" [(ngModel)]="requisition.Store_Name" name="Store_Name"></ion-input>                  
                     
                    
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col >
                    <ion-item>
                      <ion-label position="floating">Requested On</ion-label>
                      <ion-input type="text" [(ngModel)]="requisition.Requested_On" name="Requested_On"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col >
                    <ion-item>
                      <ion-label position="floating">Approval Status</ion-label>
                      <ion-input type="text" [(ngModel)]="requisition.Approval_Status" name="Approval_Status"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

                

                

                <ion-row>
                  <ion-col>
                    
                    <ion-input type="hidden" [(ngModel)]="requisition.Key" name="Key"></ion-input>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size-sm="6" offset-sm="3">
                    <ion-button type="submit" color="primary" expand="block">Save Details</ion-button>
                  </ion-col>
                </ion-row>

              </ion-card-content>

            </ion-card> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
