<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/farmer"></ion-back-button>
    </ion-buttons>
    <ion-title>Register Farmer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onAddFarmer()">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="farmer.Outrower_Name"
            name="Name"
          ></ion-input>
        </ion-item>
      </ion-col>
  
      <ion-col>
        <ion-item>
          <ion-label position="floating">ID No.</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="farmer.National_ID_No"
            name="National_ID_No"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Huduma No.</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="farmer.Huduma_No"
            name="Huduma_No"
          ></ion-input>
        </ion-item>
      </ion-col>
  
      <ion-col>
        <ion-item>
          <ion-label position="floating">KRA PIN</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="farmer.KRA_PIN_No"
            name="KRA_PIN_No"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  

    <!-- Communication -->

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Address</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="farmer.Address"
            name="Address"
          ></ion-input>
        </ion-item>
      </ion-col>
  
      <ion-col>
        <ion-item>
          <ion-label position="floating">City</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="farmer.City"
            name="City"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Phone No</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="farmer.Phone_No"
            name="Phone_No"
          ></ion-input>
        </ion-item>
      </ion-col>
  
      <ion-col>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="farmer.Email"
            name="Email"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>


<!-- Bank Account Details -->

<ion-row>
  <ion-col>
    <ion-item>
      <ion-label position="floating">Bank A/C No.</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="farmer.Bank_Account_No"
        name="Bank_Account_No"
      ></ion-input>
    </ion-item>
  </ion-col>

  <ion-col>
    <ion-item>
      <ion-label position="floating">Bank Account Name</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="farmer.Bank_Account_Name"
        name="Email"
      ></ion-input>
    </ion-item>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <ion-item>
      <ion-label position="floating">Bank Account Code</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="farmer.Bank_Account_Code"
        name="Bank_Account_Code"
      ></ion-input>
    </ion-item>
  </ion-col>

  <ion-col>
    
  </ion-col>

</ion-row>


<!-- Land Size -->

<ion-row>
  <ion-col>
    <ion-item>
      <ion-label position="floating">Total Acres</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="farmer.Total_Acres"
        name="Total_Acres"
      ></ion-input>
    </ion-item>
  </ion-col>

  <ion-col>
    <ion-item>
      <ion-label position="floating">Hectares</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="farmer.Hectares"
        name="Hectares"
      ></ion-input>
    </ion-item>
  </ion-col>
</ion-row>


    <ion-row>
     
      <ion-col>
        <ion-item>
          <ion-label position="floating">Route Code</ion-label>
          <ion-select
            [(ngModel)]="farmer.Route_Code"
            name="Route_Code"
            placeholder="Select ..."
            (ionChange)="fetchShades(farmer.Route_Code)"
          >
            <ion-select-option
              *ngFor="let route of tearoutes"
              [value]="route.Route_No"
              >{{route.Route_Name}}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label position="floating">Buying Center</ion-label>
          <ion-select
            [(ngModel)]="farmer.Buying_Centre_Code"
            name="Buying_Centre_Code"
            placeholder="Select ..."
          >
            <ion-select-option *ngFor="let bc of shades" [value]="bc.Shade_No"
              >{{bc.Shade_Name}}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  
    <!-----Land Registration  DETAILS-->
    <ion-row>
       
      <ion-col>
        <ion-item>
          <ion-label position="floating">Land Registration</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="farmer.Land_Registration"
            name="Land_Registration"
          ></ion-input>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label position="floating">Inspection Date</ion-label>
          <ion-datetime
            [(ngModel)]="farmer.Inspection_Date"
            name="Inspection_Date"
          ></ion-datetime>
        </ion-item>
      </ion-col>

    </ion-row>
  
    <!-----Tea Type & Geo Info-->
  
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Tea Planted</ion-label>
          <ion-select
            [(ngModel)]="farmer.Type_Of_Tea_Planted"
            name="Type_Of_Tea_Planted"
            placeholder="Select ..."
            [selectedText]= farmer.Type_Of_Tea_Planted
          >
            <ion-select-option *ngFor="let type of teaTypes" [value]="type"
              >{{type.name}}</ion-select-option
            >
          </ion-select>
         
        </ion-item>
      </ion-col>
  
      <ion-col>
        <ion-item>
          <ion-label position="floating">GPS Coordinates</ion-label>
          <ion-input
          type="text"
          [(ngModel)]="farmer.GPS_Coordinates"
          name="GPS_Coordinates"
        ></ion-input>
          
        </ion-item>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-button type="Save Details" color="primary" expand="block">Save Details</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
