<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/orders"></ion-back-button>
    </ion-buttons>
    <ion-title>Sales Invoice - {{card?.No}} Details </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="post(card.No)">
      <ion-icon name="send"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col >
         <ion-card>
           <ion-card-header>
             <ion-card-title>
               General Card Details
             </ion-card-title>
           </ion-card-header>

           <ion-card-content>

             <ion-row>
               <ion-col >
                 <ion-item>
                   <ion-label position="floating">Customer</ion-label>
                   <ion-input [(ngModel)]="card.Sell_to_Customer_Name" readonly></ion-input>
                 </ion-item>
               </ion-col>

               <ion-col >
                 <ion-item>
                   <ion-label position="floating">Due Date</ion-label>
                   <ion-input [(ngModel)]="card.Due_Date" readonly></ion-input>
                 </ion-item>
               </ion-col>
             </ion-row>

             


             <ion-row>
               <ion-col >
                 <ion-item>
                   <ion-label position="floating">Posting Date: </ion-label>
                   <ion-input [(ngModel)]="card.Posting_Date" readonly></ion-input>
                 </ion-item>
               </ion-col>

               <ion-col >
                 <ion-item>
                   <ion-label position="floating">Status:</ion-label>
                   <ion-input [(ngModel)]="card.Status" readonly></ion-input>
                 </ion-item>
               </ion-col>
             </ion-row>

            

           </ion-card-content>

         </ion-card>


          <!--Start Lines Card-->
          <ion-card>
            <ion-card-header>
              <ion-card-title>Lines</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row *ngIf="card?.Status === 'Open' ">
                  <ion-col>
                    <ion-list>
                      <ion-item>
                        <ion-button type="button" outline color="primary" (click)="onAddLine()" >New</ion-button>
                      </ion-item>
                    </ion-list>
                    
                  </ion-col>
                </ion-row>

                <ion-row scrollX="true">
                  <ion-col>
                    <ion-label>Description</ion-label>
                  </ion-col>

                  <ion-col>
                    <ion-label>Location Code</ion-label>
                  </ion-col>

                  <ion-col>
                    <ion-label>Quantity</ion-label>
                  </ion-col>

                  <ion-col>
                    <ion-label>Unit </ion-label>
                  </ion-col>

                  <ion-col>
                    <ion-label>Line Amount (Exl. VAT)</ion-label>
                  </ion-col>

                </ion-row>
              
                 
               
                <ion-list *ngFor="let item of card?.SalesLines?.Sales_Invoice_Line">
                    <ion-row >
                      <ion-col> 
                        <ion-item (click)="onUpdateLine(item?.Line_No)" color="primary">                         
                            <ion-label>{{item.Description}}</ion-label>
                        </ion-item>
                      </ion-col>
  
                      <ion-col> 
                        <ion-item>                         
                            <ion-label>{{item.Location_Code}}</ion-label>
                        </ion-item>
                      </ion-col>
  
                      <ion-col> 
                        <ion-item>                         
                            <ion-label>{{item.Quantity}}</ion-label>
                        </ion-item>
                      </ion-col>
  
                      <ion-col> 
                        <ion-item>                         
                            <ion-label>{{item.Unit_of_Measure}}</ion-label>
                        </ion-item>
                      </ion-col>
  
                      <ion-col> 
                        <ion-item>                         
                            <ion-label>{{item.Line_Amount}}</ion-label>
                        </ion-item>
                      </ion-col>
  
                     
  
                    </ion-row>   
                </ion-list>
                 
                
              </ion-grid>
            </ion-card-content>
          </ion-card>
          <!--End Lines Card-->

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
