<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" fill="clear" (click)="logout()">
        <ion-icon name="exit-outline" title="Logout"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="ion-text-center">
    <ion-icon name="Person"></ion-icon>
    <h4>Welcome, <br>
      {{ username }} 
    </h4>
  </section>

  <ion-grid>


     <!----<ion-row>
      <ion-col col-6 col-sm-12 [routerLink]="['../farmer']">
        <ion-card ion-text-center padding color="warning">
            <ion-icon name="people"></ion-icon>
            <h2>Farmers</h2>
        </ion-card>
      </ion-col>

      <ion-col col-6 col-sm-12 [routerLink]="['../collection']">
        <ion-card ion-text-center padding color="success">
          <ion-icon name="leaf"></ion-icon>
          <h2>Leaf Collection</h2>
      </ion-card>
      </ion-col>
    </ion-row> --->


    <ion-row>
      <ion-col col-6 col-sm-12 [routerLink]="['../postedsales']">
        <ion-card ion-text-center padding color="warning">
            <ion-icon name="cart"></ion-icon>
            <h2>Posted Sales</h2>
        </ion-card>
      </ion-col>

      <ion-col col-6 col-sm-12 [routerLink]="['../payments']">
        <ion-card ion-text-center padding color="warning">
            <ion-icon name="card"></ion-icon>
            <h2>Sales</h2>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6 col-sm-12 [routerLink]="['../requisitions/released-requisitions']">
        <ion-card ion-text-center padding color="warning">
            <ion-icon name="pricetag"></ion-icon>
            <h2>Shipped Requisitions</h2>
        </ion-card>
      </ion-col>

      <ion-col col-6 col-sm-12 [routerLink]="['../requisitions']">
        <ion-card ion-text-center padding color="warning">
            <ion-icon name="basket"></ion-icon>
            <h2>Requisitions</h2>
        </ion-card>
      </ion-col>

    </ion-row>

  

    
<ion-card>
  <ion-card-header>
    <ion-card-title>Reports</ion-card-title>
  </ion-card-header>
</ion-card>

    <ion-row>
      <ion-col col-6 col-sm-12 (click)="showDaily()">
        <ion-card ion-text-center padding color="success">
            <ion-icon name="document"></ion-icon>
            <h2>Daily Sales</h2>
        </ion-card>
      </ion-col>

      <ion-col col-6 col-sm-12 (click)="showMonthly()">
        <ion-card ion-text-center padding color="success">
            <ion-icon name="document"></ion-icon>
            <h2>Monthly Sales</h2>
        </ion-card>
      </ion-col>

     
    </ion-row>

    <ion-row>
      <ion-col col-6 col-sm-12 (click)="showDailyPayments()">
        <ion-card ion-text-center padding color="success">
            <ion-icon name="document"></ion-icon>
            <h2>D.Payments</h2>
        </ion-card>
      </ion-col>

      <ion-col col-6 col-sm-12 (click)="showMonthlyPayments()">
        <ion-card ion-text-center padding color="success">
            <ion-icon name="document"></ion-icon>
            <h2>M.Payments</h2>
        </ion-card>
      </ion-col> 
    </ion-row>

    <ion-row>
      <ion-col col-6 col-sm-12 (click)="showAvailability()">
        <ion-card ion-text-center padding color="success">
            <ion-icon name="document"></ion-icon>
            <h2>Stock Availability</h2>
        </ion-card>
      </ion-col> 

      <ion-col col-6 col-sm-12 (click)="showMpesa()">
        <ion-card ion-text-center padding color="success">
          <ion-icon name="document"></ion-icon>
          <h2>Mpesa</h2>
        </ion-card>
      </ion-col>

    </ion-row>
   

    


  </ion-grid>

</ion-content>
