<ion-header>
  <ion-toolbar>
    <ion-title>{{line.Line_No?'Update': 'New'}} Requisition Line</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
      <ion-list>

        <ion-item>
          <ion-label position="floating">Item</ion-label>
          <ion-select [(ngModel)]="line.Item_No" (ionChange)="getUnit($event)" [selectedText]="line.Description" placeholder="Select Item">
            <ion-select-option *ngFor="let item of items" [value]="item.No" >{{ item.Description }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Unit of Measure</ion-label>
          <ion-select [(ngModel)] = "line.Unit" [selectedText]="line.Unit" placeholder="Select Unit">
            <ion-select-option *ngFor="let unit of units" [value]="unit.Code" >{{ unit.Code }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Pieces</ion-label>
          <ion-input [(ngModel)]="line.Pieces" type="number"></ion-input>
        </ion-item>

        <ion-item *ngIf="line.Line_No">
          <ion-label  position="floating">Quantity Received</ion-label>
          <ion-input [(ngModel)]="line.Quantity_Received" type="number"></ion-input>
        </ion-item>

        <ion-item *ngIf="line.Line_No">
          <ion-label position="floating">Receipt Date</ion-label>
          <ion-datetime [(ngModel)]="line.Receipt_Date" type="number" displayFormat="YYYY-MM-DD"></ion-datetime>
        </ion-item>

        


      </ion-list>


      <ion-button  *ngIf="!line.Line_No" color="primary" (click)="addLine()" expand="block" fill="outline" >
        Add Line
      </ion-button>

      <ion-button *ngIf="line.Line_No"  color="primary" (click)="updateLine()" expand="block" fill="outline" >
        Update Line
      </ion-button>

    </ion-col>
  </ion-row>

</ion-content>
